* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 800;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222831;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container::-webkit-scrollbar {
    display: none;
}

#heading {
    font-size: 2.5rem;
    margin: 2rem 0 0 2rem;
}

#desc {
    font-size: 1.2rem;
    margin: 1rem 0 0 3rem;
    color: #DDDDDD;
}

#items {
    width: 100vw;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 35rem;
    height: 20rem;
    background-color: #171c24;
    border: 2px solid #FFFFFF;
    border-radius: .5rem;
    margin-left: calc((100vw - 70rem)/3);
    margin-bottom: 5rem;
    cursor: pointer;
}

.button:hover {
    background-color: #242c38;
}