* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 800;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222831;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container::-webkit-scrollbar {
    display: none;
}

#top {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 0;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    display: none;
    cursor: pointer;
}

#heading {
    font-size: 2.5rem;
    margin: 2rem 0 0 2rem;
}

#desc {
    font-size: 1.2rem;
    margin: 1rem 0 0 3rem;
    color: #DDDDDD;
}

#items {
    width: 100vw;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
}

#sort {
    background-color: #171c24;
    border: 2px solid white;
    border-radius: .5rem;
    color: white;
    width: 10rem;
    height: 2rem;
    margin: 0 calc(100vw - 15rem) 5rem 5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

#sort:hover {
    background-color: #242c38;
}

#sort option {
    background-color: #222831;
    font-weight: 700;
}

.button {
    width: 35rem;
    height: 20rem;
    background-color: #171c24;
    border: 2px solid #FFFFFF;
    border-radius: .5rem;
    margin-left: calc((100vw - 70rem)/3);
    margin-bottom: 5rem;
    cursor: pointer;

    padding-top: 3rem;
    padding-left: 1rem;
}

.button:hover {
    background-color: #242c38;
}

.data {
    display: inline-block;
    font-size: 1.2rem;
    overflow: wrap;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.overflow {
    margin-top: -.3rem;
}

#label-name {
    color: rgb(0, 162, 255);
}

#label-desc {
    color: rgb(255, 255, 0);
}

#label-by {
    color: rgb(255, 0, 0);
}

#label-url {
    color: rgb(0, 131, 0);
}